body {
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Saudia Sans";
  src: url("/public/assets/fonts/SaudiaSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
