.ui-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: var(--Font-family-font-family-body, inherit);
  font-size: var(--Font-size-text-sm, 14px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
  gap: var(--spacing-xs, 4px);
  border-radius: var(--radius-md, 8px);
  transition: all 150ms cubic-bezier(0.65, 0.05, 0.36, 1);
  width: fit-content;

  &--fullWidth {
    width: 100%;
  }

  &--primary {
    color: var(
      --component-colors-components-buttons-primary-button-primary-fg,
      #fff
    );
    /* Text sm/Semibold */
    font-family: var(--Font-family-font-family-body, inherit);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
    background: var(
      --component-colors-components-buttons-primary-button-primary-bg,
      #252b37
    );
    border: 2px solid
      var(--Gradient-skeuemorphic-gradient-border, rgba(255, 255, 255, 0.12));
    box-shadow: 0px 0px 0px 1px
        var(
          --colors-effects-shadows-shadow-skeumorphic-inner-border,
          rgba(10, 13, 18, 0.18)
        )
        inset,
      0px -2px 0px 0px var(
          --colors-effects-shadows-shadow-skeumorphic-inner,
          rgba(10, 13, 18, 0.05)
        ) inset,
      0px 1px 2px 0px
        var(--colors-effects-shadows-shadow-xs, rgba(10, 13, 18, 0.05));

    &:hover {
      border-radius: var(--radius-md, 8px);
      border: 2px solid
        var(--Gradient-skeuemorphic-gradient-border, rgba(255, 255, 255, 0.12));
      background: var(
        --component-colors-components-buttons-primary-button-primary-bg_hover,
        #414651
      );

      /* Shadows/shadow-xs-skeuomorphic */
      box-shadow: 0px 0px 0px 1px
          var(
            --colors-effects-shadows-shadow-skeumorphic-inner-border,
            rgba(10, 13, 18, 0.18)
          )
          inset,
        0px -2px 0px 0px var(
            --colors-effects-shadows-shadow-skeumorphic-inner,
            rgba(10, 13, 18, 0.05)
          ) inset,
        0px 1px 2px 0px
          var(--colors-effects-shadows-shadow-xs, rgba(10, 13, 18, 0.05));
    }

    &:focus {
      border-radius: var(--radius-md, 8px);
      border: 2px solid
        var(--Gradient-skeuemorphic-gradient-border, rgba(255, 255, 255, 0.12));
      background: var(
        --component-colors-components-buttons-primary-button-primary-bg,
        #252b37
      );
      /* Focus rings/focus-ring-shadow-xs-skeuomorphic */
      box-shadow: 0px 0px 0px 1px
          var(
            --colors-effects-shadows-shadow-skeumorphic-inner-border,
            rgba(10, 13, 18, 0.18)
          )
          inset,
        0px -2px 0px 0px var(
            --colors-effects-shadows-shadow-skeumorphic-inner,
            rgba(10, 13, 18, 0.05)
          ) inset,
        0px 1px 2px 0px
          var(--colors-effects-shadows-shadow-xs, rgba(10, 13, 18, 0.05)),
        0px 0px 0px 2px var(--colors-background-bg-primary, #fff),
        0px 0px 0px 4px var(--colors-effects-focus-rings-focus-ring, #717680);
    }

    &:disabled {
      color: var(--colors-foreground-fg-disabled, #a4a7ae);

      /* Text sm/Semibold */
      font-family: var(--Font-family-font-family-body, inherit);
      font-size: var(--Font-size-text-sm, 14px);
      font-style: normal;
      font-weight: 600;
      line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
      border-radius: var(--radius-md, 8px);
      border: 1px solid var(--colors-border-border-disabled_subtle, #e9eaeb);
      background: var(--colors-background-bg-disabled, #f5f5f5);

      /* Shadows/shadow-xs */
      box-shadow: 0px 1px 2px 0px
        var(--colors-effects-shadows-shadow-xs, rgba(10, 13, 18, 0.05));
    }
  }

  &--secondary {
    color: var(
      --component-colors-components-buttons-secondary-button-secondary-fg,
      #414651
    );
    /* Text sm/Semibold */
    font-family: var(--Font-family-font-family-body, inherit);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-height-text-sm, 20px);
    border: 1px solid
      var(
        --component-colors-components-buttons-secondary-button-secondary-border,
        #d5d7da
      );
    background: var(
      --component-colors-components-buttons-secondary-button-secondary-bg,
      #fff
    );
    box-shadow: 0px 0px 0px 1px
        var(
          --colors-effects-shadows-shadow-skeumorphic-inner-border,
          rgba(10, 13, 18, 0.18)
        )
        inset,
      0px -2px 0px 0px var(
          --colors-effects-shadows-shadow-skeumorphic-inner,
          rgba(10, 13, 18, 0.05)
        ) inset,
      0px 1px 2px 0px
        var(--colors-effects-shadows-shadow-xs, rgba(10, 13, 18, 0.05));

    &:hover {
      border-radius: var(--radius-md, 8px);
      border: 1px solid
        var(
          --component-colors-components-buttons-secondary-button-secondary-border_hover,
          #d5d7da
        );
      background: var(
        --component-colors-components-buttons-secondary-button-secondary-bg_hover,
        #fafafa
      );
      /* Shadows/shadow-xs-skeuomorphic */
      box-shadow: 0px 0px 0px 1px
          var(
            --colors-effects-shadows-shadow-skeumorphic-inner-border,
            rgba(10, 13, 18, 0.18)
          )
          inset,
        0px -2px 0px 0px var(
            --colors-effects-shadows-shadow-skeumorphic-inner,
            rgba(10, 13, 18, 0.05)
          ) inset,
        0px 1px 2px 0px
          var(--colors-effects-shadows-shadow-xs, rgba(10, 13, 18, 0.05));
    }

    &:disabled {
      pointer-events: none;
      border-radius: var(--radius-md, 8px);
      border: 1px solid var(--colors-border-border-disabled_subtle, #e9eaeb);
      background: var(--colors-background-bg-primary, #fff);
      /* Shadows/shadow-xs */
      box-shadow: 0px 1px 2px 0px
        var(--colors-effects-shadows-shadow-xs, rgba(10, 13, 18, 0.05));
      color: var(--colors-foreground-fg-disabled, #a4a7ae);
      font-family: var(--Font-family-font-family-body, inherit);
      font-size: var(--Font-size-text-sm, 14px);
      font-style: normal;
      font-weight: 600;
      line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
    }

    &:focus {
      border-radius: var(--radius-md, 8px);
      border: 1px solid
        var(
          --component-colors-components-buttons-secondary-button-secondary-border,
          #d5d7da
        );
      background: var(
        --component-colors-components-buttons-secondary-button-secondary-bg,
        #fff
      );
      /* Focus rings/focus-ring-shadow-xs-skeuomorphic */
      box-shadow: 0px 0px 0px 1px
          var(
            --colors-effects-shadows-shadow-skeumorphic-inner-border,
            rgba(10, 13, 18, 0.18)
          )
          inset,
        0px -2px 0px 0px var(
            --colors-effects-shadows-shadow-skeumorphic-inner,
            rgba(10, 13, 18, 0.05)
          ) inset,
        0px 1px 2px 0px
          var(--colors-effects-shadows-shadow-xs, rgba(10, 13, 18, 0.05)),
        0px 0px 0px 2px var(--colors-background-bg-primary, #fff),
        0px 0px 0px 4px var(--colors-effects-focus-rings-focus-ring, #717680);
    }
  }

  &--tertiary {
    display: inline-flex;
    padding: var(--spacing-md, 8px) var(--spacing-lg, 12px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xs, 4px);
    border-radius: var(--radius-md, 8px);
    color: var(
      --component-colors-components-buttons-tertiary-color-button-tertiary-color-fg,
      #414651
    );
    background-color: inherit;
    border: none;
    box-shadow: none;
    /* Text sm/Semibold */
    font-family: var(--Font-family-font-family-body, inherit);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-height-text-sm, 20px); /* 142.857% */

    &:hover {
      border-radius: var(--radius-md, 8px);
      background: var(
        --component-colors-components-buttons-tertiary-color-button-tertiary-color-bg_hover,
        #fafafa
      );
    }

    &:focus {
      border-radius: var(--radius-md, 8px);
      background: var(--colors-background-bg-primary, #fff);

      /* Focus rings/focus-ring */
      box-shadow: 0px 0px 0px 2px var(--colors-background-bg-primary, #fff),
        0px 0px 0px 4px var(--colors-effects-focus-rings-focus-ring, #717680);
    }

    &:disabled {
      color: var(--colors-foreground-fg-disabled, #a4a7ae);
      pointer-events: none;
      /* Text sm/Semibold */
      font-family: var(--Font-family-font-family-body, inherit);
      font-size: var(--Font-size-text-sm, 14px);
      font-style: normal;
      font-weight: 600;
      line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
      border-radius: var(--radius-md, 8px);
    }
  }

  &--link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm, 6px);
    padding: 0;

    &:focus {
      border-radius: var(--radius-xs, 4px);
      background: rgba(255, 255, 255, 0);

      /* Focus rings/focus-ring */
      box-shadow: 0px 0px 0px 2px var(--colors-background-bg-primary, #fff),
        0px 0px 0px 4px var(--colors-effects-focus-rings-focus-ring, #717680);
    }

    &:disabled {
      color: var(--colors-foreground-fg-disabled, #a4a7ae);

      /* Text sm/Semibold */
      font-family: var(--Font-family-font-family-body, inherit);
      font-size: var(--Font-size-text-sm, 14px);
      font-style: normal;
      font-weight: 600;
      line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
    }
  }

  &--small {
    padding: var(--spacing-md, 8px) var(--spacing-lg, 12px);
    gap: var(--spacing-xs, 4px);
    &--withIcon {
      padding: var(--spacing-md, 8px);
    }
  }

  &--medium {
    padding: 10px 14px;
    gap: var(--spacing-xs, 4px);
    &--withIcon {
      padding: 10px;
    }
  }

  &--large {
    padding: 10px var(--spacing-xl, 16px);
    gap: var(--spacing-sm, 6px);
    &--withIcon {
      padding: var(--spacing-lg, 12px);
    }
  }

  &--xlarge {
    padding: var(--spacing-lg, 12px) 18px;
    gap: var(--spacing-sm, 6px);
    &--withIcon {
      padding: 14px;
    }
  }
  &--2xlarge {
    padding: var(--spacing-xl, 16px) 22px;
    gap: var(--spacing-md, 8px);
    &--withIcon {
      padding: var(--spacing-xl, 16px);
    }
  }
}
